form {
  > * + * {
    margin-top: 1.2rem;
  }

  label {
    position: absolute;
    left: -9999px;
  }

  .date {
    display: flex;
    justify-content: space-between;
  }

  select,
  input,
  button {
    padding: .8rem 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
  }

  select:invalid {
    box-shadow: 0 0 0 1.5px $color-primary;
  }

  select:not(:focus):invalid {
    box-shadow: none;
  }

  input:invalid:not(:placeholder-shown) {
    box-shadow: 0 0 0 1.5px $color-primary;
  }

  input:not(:focus):invalid {
    box-shadow: none;
  }

  .select-wrapper {
    position: relative;
    flex-grow: 1;

    + .select-wrapper {
      margin-left: 1.2rem;
    }

    &::after {
      content: url('./res/img/icon-chevron-down.svg');
      position: absolute;
      top: 50%;
      right: .5rem;
      display: inline-block;
      width: 1.9rem;
      height: 1.9rem;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }

  select {
    width: 100%;
    padding-right: 3rem;
    background-color: $color-tertiary;
    line-height: normal;
    appearance: none;
    outline: none;
  }

  .input {
    width: 100%;

    input {
      width: 100%;
      background-color: $color-tertiary;
      outline: none;
    }
  }

  button {
    width: 100%;
    background-color: $color-primary;
  }
}

h2 {
  &:first-child {
    margin-top: 1.6rem;
  }

  + form {
    margin-top: 1.2rem;
  }
}
