// colors
$color-black: #000;
$color-white: #fff;

$color-primary: #ea2340;
$color-secondary: #1c1d24;
$color-secondary-darker: #16171d;
$color-tertiary: #f5eeee;

$color-font: $color-tertiary;
$color-background: $color-secondary;

// golden ratio
$golden-ratio: 1.618;

// fonts
$base-font: 'Raleway', sans-serif;

$base-font-size: 10px;
$font-size: 2rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2.2rem;
$font-size-h3: 2rem;
$font-size-h4: 2rem;
$font-size-h5: 2rem;
$font-size-h6: 2rem;

// $font-weight-thin: 100;
// $font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight: 400;
// $font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
// $font-weight-extrabold: 800;
// $font-weight-black: 900;

// dimensions
$content-width: 1290px;
$page-margin: 2rem;
$content-margin: 3rem;
$gutter-width: 3rem;

// breakpoints
$breakpoint-xlarge: 1280px;
$breakpoint-large: 1024px;
$breakpoint-medium-large: 960px;
$breakpoint-medium: 768px;
$breakpoint-small: 560px;
$breakpoint-xsmall: 425px;

// z-index
$z-index-header: 10;
$z-index-modal: 100;
